.register-header {
    background-color: #006400;
    color: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .register-form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .register-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 1em;
  }
  
  .register-form button {
    background-color: #006400;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .register-form button:hover {
    background-color: #004d00;
  }
  